{% extends "./base.html.twig" %}
{% block body %}

    
    <div class="sm:w-3/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
            {{ game.gameName }}
        </h1>

        <div class="py-10 text-center">
            <div class="inline-block sm:pt-1">
                <h2 class="font-bold">
                    User.name
                </h2>

                <p class="text-sm text-gray-600">
                    timecreated: {{game.id}}
                </p>
            </div>
        </div>

        <a href="{{ game.link }}" target="_blank">
            <img
                src="{{ game.imagePath }}"
                class="rounded-xl w-full shadow-xl"
                alt="Endy says wait"
            />
        </a>        

        {% if app.user and game.user.id == app.user.id %}
        <p class="text-xl py-6">
            what u here for
        </p>

            <a 
                href="/games/edit/{{ game.id }}"
                class="bg-green-500 font-bold py-2 px-4 rounded transition-all hover:bg-green-300">
                Edit Game 
            </a>

            <a 
                href="/games/delete/{{ game.id }}"
                class="bg-red-500 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-300">
                Delete Game
            </a> 
         {% endif %} 
    </div>
{% endblock %}